.popup-update-status-task {
  width: 300px;
  border-radius: 8px;
  padding: 24px;
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task-status-text{
    padding: 8px;
    color: white;
    border-bottom: 1px solid gray;
    width: 100%;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}

.task-status-text:hover{
    background-color: #1f2021;
    border: 1px solid gray;
    border-radius: 8px;
}
