.profile {
    padding: 46px;
}

.profile-inner {
    max-width: 18000px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -70px;
    justify-content: space-between;
}

.profile-header h2 {
    font-size: 28px;
    font-weight: 600;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid black;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actions {
    margin-left: auto;
    display: flex;
    gap: 12px;
}

.btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn.cancel {
    background: black;
    color: gray;
}

.btn.save {
    background: #6c5ce7;
    color: white;
}

.form {
    margin-top: 40px;
    max-width: 700px;
}

.row {
    display: flex;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
}

.field label {
    font-size: 14px;
    color: grey;
    margin-bottom: 8px;
}

.field input {
    background: #1c1d26;
    border: 1px solid #2a2b36;
    padding: 12px;
    border-radius: 10px;
    color: white;
}