* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, sans-serif;
}

body {
    background: #131517;
    color: white;
}

.app {
    display: flex;
    height: 100vh;
    width: 100%;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
