.topbar {
    height: 30px;
    background: #1E1F25;
    display: flex;
    align-items: center;
    padding: 32px;
    width: 100%;
    justify-content: space-between;
}

.topbar input {
    width: 280px;
    background: black;
    border: none;
    padding: 10px;
    border-radius: 10px 14px;
    color: white;
}

.topbar input::placeholder {
    color: #777;
}

.user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user span {
    font-size: 16px;
    opacity: 0.85;
    cursor: pointer;
}

.user img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    background: black;
    padding: 2px;
    cursor: pointer;
}