.group_item{
    padding: 18px 39px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 305px;
    background-color: #131517;
}

.group_logo_container{
    width: 120px;
    height: 120px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group_logo{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
}

.group_name{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}