.request-body {
  width: 100%;
  height: 97vh;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  gap: 32px;
}

.request-container {
  padding: 16px;
  width: 100%;
  min-height: 95%;
  background-color: #2b2d31;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 38px;
}

.request-page-title {
  color: white;
  font-size: 32px;
  font-weight: 700;
}

.request-page-desc {
  color: #72767d;
  font-size: 14px;
}

.request-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.request-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 8px;
    padding: 16px;
    background-color: #131517;
    align-items: center;
}

.request-item .request-item-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.request-item .request-item-header .group-icon {
    border-radius: 9999px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-item-header .title-text{
    font-size: 24px;
    font-weight: bold;
}

.request-item-header .desc-text{
    font-size: 14px;
    color: #4fa153;
}

.delete-request-btn{
    background-color: rgb(168, 1, 1);
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-request-btn:hover{
    background-color: red;
}
