.sidebar {
    width: 90px;
    height: 100vh;
    background: #1E1F25;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 600;
    font-size: 13px;
}

.logo img {
    width: 34px;
    height: 34px;
    object-fit: contain;
    border-radius: 10px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    justify-content: space-evenly;
    height: 100%;
}

.nav-item {
  width: 48px;
  height: 48px;
  background: transparent;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  color: #72767d;
  font-size: 20px;
  text-decoration: none;
}

.nav-item:hover {
  background: #2a2d31;
  color: white;
}

.nav-item.active {
  background: #5865f2;
  color: white;
}

.menu {
    position: relative;
}

.menu .name{
    position: absolute;
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 4px;
    z-index: 1;
}

.menu .name p {
    white-space: nowrap;
}